html, body {
    background-color: #fb1;
    background-image: linear-gradient(#fff, #fb1);
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#fps {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    padding: 12px;
    position: absolute;
    z-index: 99;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

#fps.enabled {
    opacity: 1;
}

#board {
    height: 100%;
    opacity: 0;
    width: 100%;

    -webkit-transition: opacity 0.3s 0.1s;
            transition: opacity 0.3s 0.1s;
}

#board.visible {
    opacity: 1;
}

#board > div {
    height: 6.25%;
    position: fixed;
    width: 6.25%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
